.container {
     width: 1000px;
     margin: auto;
     background: rgba(253,249,198,255);
     
}
.intro,.contact
{
      color: rgb(0, 0, 0);
      text-align: center;
      margin: auto;
}
.hero img {
      
      width: 30%;
}
#freeDelivary img{
  width: 100%;
  height: 500px;
  margin: 20px 0px 20px 0px;

}
body{
      background-image: url('images/mangoes.gif');
      background-size:200px;
      background-color: rgb(57, 201, 165);
    
    }


ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f9cc00;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 14px 70px;
      text-decoration: none;
      font-size: 25px;
    }
    li a:hover {
      background-color: rgb(255, 175, 4);
      color: black;
      font-size: 35px;
    }

   h1 {
     text-align: center;
     font-size: 50px;
   }
   aside{

   text-align: center;
   }
   #order{
     margin: auto;
   }
 p {
    margin: 5%;
    text-align: center;
    font-size: 25px;
   }
   aside.order{
     float: right;
     padding-right: 3%;
   }

   .orderBtn {
    display: block;
    color: rgb(255, 253, 129);
    padding: 14px 0px;
    font-size: 16px;
    text-align: center;
  }
  
  #orderBtn:hover{
    background-color: rgb(255, 224, 83);
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
